
header{
    height: 175px;
}

.header-content-right{
    width: 650px;
    float: right;
}

.header-content-left{
    width: 550px;
    float: left;
}

.contacts-list ul{
    list-style: none;
    margin: 0;
    display: inline-block;
    float: right;
    
}

.contacts-list ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


.phone a{
    color: #3385D6;
}

.phone a:hover{
    color: black;
}

.header-icon{
    margin-top: 46px;
}

.nav__link {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    font-size: 14 px;
    color: black;
    text-decoration: none;
    transition: color .2s linear;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    
}


.nav__link:hover {
    border-bottom-color: brown;
}


.nav__link:hover:after {
    display: block;
}

.mainmenu{
    vertical-align: bottom;
    position: relative;
    text-align: end;
    margin-top: 120px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}


a:hover{color:brown;}
.act{ border-bottom: 3px solid brown;padding-bottom: 10px;}
    
