body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.conteiner1
{
    width: 100%;
    max-width: 1920px;
    margin: 0px auto;
    margin-bottom: 0;
}

.mainphoto {  width: 100%;
}

h1 {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 50px;
}

.subhead{
    color: orange;
    font-size: 17px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item {
    width: 18%;
    padding: 0 15px;
    margin: 25px 0;
    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.features_conteiner{
    height: 100%;
    background-image:url(../img/features_photo.jpg);
}

.slider{
    position: absolute;
    width: 680px;
    height: 280px;
    margin-left: 55.2%;
    margin-top: 3%;
    overflow: hidden;
}

.mainphoto {
    background-image: url(../img/mainphoto.jpg);
    height: 400px;
}

.slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }
.slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }