@model OrangeTech.Web.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Услуги";
}

<div class="container">
    <h1>Добавить новую услугу</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label">Краткое описание</label>
                    <textarea asp-for="ShortDescription" class="form-control"> </textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullDescription" class="control-label">Полное описание</label>
                    <textarea asp-for="FullDescription" class="form-control"> </textarea>
                    <span asp-validation-for="FullDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label">Фотографии работы</label>
                    <input asp-for="Images" type="file" class="form-control" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
