@model OrangeTech.Models.Models.Service

@{
    ViewData["Title"] = "Услуги";
}
<div class="content">
    <div class="left-side">
        <div id="img-container" style="width: 500px">
            <img id="img" height="300" width="500" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Images[0].Img))" />
        </div>
        <script>
            var options = {
                width: 500,
                zoomWidth: 500,
                offset: { vertical: 0, horizontal: 10 },
                scale: 1

            };
            var zoom = new ImageZoom(document.getElementById("img-container"), options);

        </script>

        <div class="portfolio">
            @foreach (var item in Model.Images)
            {
                <div class="photo-item" onclick="ChangeImage(event)">
                    <img height="50" width="80" class="image-fit" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Img))" />
                </div>
            }
        </div>
    </div>
    <div class="right-side">
        <div class="work-name">
            <h4 class="work-name-text">@Model.Name</h4>
        </div>
        <div class="work-description">
            <p class="description-text">
                @Model.FullDescription
            </p>
        </div>

    </div>
</div>

<script>


    function ChangeImage(event) {
        event = event || window.event;
        var targetElement = event.target || event.srcElement;

        if (targetElement.tagName == "IMG") {
            img.src = targetElement.getAttribute("src");
            zoom.kill();
            zoom = new ImageZoom(document.getElementById("img-container"), options);
        }
    }

</script>


<div class="bottom-container">
    <div>
        <a asp-action="GetAll">Назад</a>
    </div>
</div>

<link href="~/css/Works.css" rel="stylesheet" />

